<!DOCTYPE html>
{% load static %}
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'universalcapitals.org/images/favicon.png' %}">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="sSRUVxA4sbQpOsVVYOuCUuEPaSOUZQ52uT0dbzeZ">
    <script>
        window.Laravel = {"csrfToken":"sSRUVxA4sbQpOsVVYOuCUuEPaSOUZQ52uT0dbzeZ"};
        window.homepage = 'index.html';
        window.updateBTC = '';
    </script>


    <title>Welcome -Securedcapital-network </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="robots" content="index, follow"/>
    <link rel="canonical" href="{% url 'signin' %}"/>

    <meta name="description" content="Your chance to seize the Blockchain Opportunity. Cryptotrades, Llc is a boutique financial firm active in value creation opportunities around the blockchain asset class and in traditional asset management. We strive to offer superior"/>

    <!--Open graph-->
    <meta property="og:url" content="{% url 'signin' %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Your chance to seize the Blockchain Opportunity. Cryptotrades, Llc is a boutique financial firm active in value creation opportunities around the blockchain asset class and in traditional asset management. We strive to offer superior"/>
    <meta property="og:title" content="Welcome"/>
    <meta property="og:image" content="{% static 'universalcapitals.org/images/favicon.png' %}"/>
    <!--Twitter card-->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:domain"/>
    <meta name="twitter:description" content="Your chance to seize the Blockchain Opportunity. Cryptotrades, Llc is a boutique financial firm active in value creation opportunities around the blockchain asset class and in traditional asset management. We strive to offer superior"/>
    <meta name="twitter:title" content="Welcome"/>
    <meta name="twitter:image" content="{% static 'universalcapitals.org/images/favicon.png' %}"/>

    <meta property="og:image" content="{% static 'universalcapitals.org/images/favicon.png' %}"/>

    <!--
    Theme Styling starts here
    -->

    <!-- Common Plugins -->
    <link href="{% static 'universalcapitals.org/dash/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Vector Map Css-->
    <link href="{% static 'universalcapitals.org/dash/lib/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"/>

    <!-- Chart C3 -->
    <link href="{% static 'universalcapitals.org/dash/lib/chart-c3/c3.min.css' %}" rel="stylesheet">
    <link href="https://universalcapitals.org/dash/lib/chartjs/chartjs-sass-defxxxault.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="{% static 'universalcapitals.org/dash/lib/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'universalcapitals.org/dash/lib/datatables/responsive.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'universalcapitals.org/dash/lib/toast/jquery.toast.min.css' %}" rel="stylesheet">

    <!-- Custom Css-->
    <link href="{% static 'universalcapitals.org/css/colors.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'universalcapitals.org/css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'universalcapitals.org/dash/scss/style.css' %}" rel="stylesheet">
    <link href="{% static 'universalcapitals.org/dash/scss/toastr.min.css' %}" rel="stylesheet">


    <style>
        div.centered {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            background-color: white;
        }

        .messages{
            color: red;
            text-align: center;
        }
        body{
            background-color: green !important;
        }
    </style>
        </head>
<body>

    <section>
        <div class="container">
            <div class="centered">




                <h2>Login</h2>
                <hr/>


<script language=javascript>
function checkform() {
  if (document.mainform.username.value=='') {
    alert("Please type your username!");
    document.mainform.username.focus();
    return false;
  }
  if (document.mainform.password.value=='') {
    alert("Please type your password!");
    document.mainform.password.focus();
    return false;
  }
  return true;
}
</script>




<form method="POST">
    {% csrf_token %}
                    <div class="control-group form-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="username">Username</label>
                            <input class="form-control" id="username" type="text" placeholder="Username" name='username' value='' required autofocus data-validation-required-message="Please enter your username.">
                            <p class="help-block text-danger"></p>
                                                    </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="password">Password</label>
                            <input class="form-control" name=password value='' id="password" type="password" placeholder="Password"

                                   required data-validation-required-message="Please enter your password.">
                            <p class="help-block text-danger"></p>
                                                    </div>
                    </div>
                    <hr/>
                    <div class="form-group">

                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>

                        <a class="btn btn-link" href="{% url 'signup' %}">
                            Sign Up
                        </a>
                        <p class="margin-top-1em">
                            <a href="{% url 'home' %}">
                                Home
                            </a>
                            <!--
                            <a href="{% url 'contact' %}">
                                Forgot Your Password?
                            </a> -->
                        </p>


                    </div>

                           {% for message in messages %}

                    <p class="messages">{{message}}</p>

                {% endfor %}
                </form>
            </div>
        </div>

    </section>

<div id="page-loader">
        <div id="loader" style="display: none"
     class="text-center ">
    <img src="{% static 'universalcapitals.org/images/loader.html' %}" alt=""/>
    <p class="text-center grey-text">
        Just a moment...
    </p>
</div>
</div>
    <script src="{% static 'static.elfsight.com/platform/platform.js' %}" defer></script>
    <div class="elfsight-app-05082fc1-0e8d-4a71-b05d-7c668b1b3117"></div>
    <!--end telegram chat widget-->


</body>

</html>




